.transactionHistory {
  width: 870px;
  margin: 50px auto 50px;
  text-align: center;
}

.transactionHistory thead {
  background-color: #00bcd4;
  color: #fff;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 30px;
}

.transactionHistory tr {
  height: 50px;
}
.transactionHistory tr:nth-child(2n) {
  background-color: #ecf2f3;
}

.transactionHistory tbody {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 13px;
  text-transform: capitalize;
}
